[main]
flavor = hw_v1
# this one should be the flavor of the stretch_stack.cfg
stretch_stack_flavor = simple
# optionally define the flavor of the pekel.cfg
#pekel_flavor = simple
# stretch_subset it a list of reaches
# if it is a partial reach_id it will run whole pfafstetter basin
stretch_subset = 78220000231
# created using multireaches_from_sword.py
stretch_file = na_sword_v16_multireach.csv
# this one should be the same as out_path of the stretch_stack.cfg
stretch_stack_in_path = outputs
# optionally define the pekel_in_path
#pekel_in_path = /path/to/pekel/RiverSP-like/data
# output directory
out_path = outputs 
# cal_orbit, science_orbit, both_orbits
orbit = both_orbits
# pass_continent, e.g., 013_NA, ???_NA for all passes in NA
granule = ???_NA
#pekel_dir = /u/franz-r0/bawillia/working/flow_waves/PxC0/pekel/

[width_correction]
method = 'bundle_adjust'
# filter and along-stats params internal to width_correction
wse_dark_thresh = 0.8
width_dark_thresh = 0.3
wse_outlier_scale = 5.0
width_outlier_scale = 2.0
width_smooth_size = None
wse_ref_kernel_size = 35
width_ref_kernel_size = None

[filter_stack]
# inner qual filter params including oulier handling
wse_dark_thresh = 0.8
width_dark_thresh = 0.3
wse_outlier_scale = 5.0
width_outlier_scale = 2.0
width_smooth_size = None
wse_ref_kernel_size = 35
width_ref_kernel_size = None

[height_width_array]
# along stats params
wse_ref_kernel_size = 35
# only output the estimates for the specific reach
crop = True
# hw params
# makes it run faster, but doesnt compute certain fit errors
snapit = False
# enables neighbor node data to be used in h/w fits
win_neighbor_len = 5

