
[stretch_stack]
qual_filter = OB
# dont filter dark water (1.0)
dark_thresh = 1.0

[reach_avg]
qual_filter = OB
# dont filter dark water (1.0)
dark_thresh = 1.0

[pekel_stats]
width_smooth_size = 11
med_kernel_size = 11


