
[stretch_stack]
qual_filter = OB
# dont filter dark water (1.0)
dark_thresh = 1.0

[reach_avg]
qual_filter = OB
# dont filter dark water (1.0)
dark_thresh = 1.0

[pekel_stats]
width_smooth_size = 11
med_kernel_size = 11

[dark_stats]
crop = False

[width_correction]
method = bundle_adjust
# filter and along_stats params internal to width_correction
wse_dark_thresh = 0.8
width_dark_thresh = 0.3
wse_outlier_scale = 5.0
width_outlier_scale = 2.0
width_smooth_size = None
wse_ref_kernel_size = 35
width_ref_kernel_size = None
use_as_working_stack = True
crop = False

[filter_stack]
# inner qual filter params including oulier handling
wse_dark_thresh = 0.8
width_dark_thresh = 0.3
wse_outlier_scale = 5.0
width_outlier_scale = 2.0
use_as_working_stack = True
crop = False

[smooth_widths]
width_smooth_size = None
crop = False

[along_stats]
# dark_thresh between [0,1], is the threshold to reject nodes
#wse_dark_thresh = 0.8
#width_dark_thresh = 0.3
#wse_outlier_scale = 5.0
#width_outlier_scale = 2.0
width_smooth_size = None
wse_ref_kernel_size = 35
width_ref_kernel_size = None
crop = False

[stretch_average]
# dark_thresh between [0,1], is the threshold to reject nodes
#wse_dark_thresh = 0.8
#width_dark_thresh=0.2
#wse_outlier_scale = 5.0
#width_outlier_scale = 2.0
width_smooth_size = None
wse_char_length_tau = 100000.0
wse_prior_unc_alpha = 1.5
width_char_length_tau = 100000.0
width_prior_unc_alpha = 50.0
use_pekel = False
crop = False

[height_width]
#method = 'percentile'
sigma_n = 50.0
use_pekel = False

[flow_state]
# parameters to enable filtering by flow state before fitting
method = stretch_average
#method = None
#method = stack_wse
bin_width = 0.5
oversamp_factor = 2

[height_width_array]
use_flow_state = True
sigma_n = 50.0
use_pekel = False
# only output the estimates for the specific reach
crop = False
# hw params
# makes it run faster, but doesnt compute certain fit errors
snapit = False
# enables neighbor node data to be used in h/w fits
neighbor_win_len = 1


[reconstruct]
# dark_thresh between [0,1], is the threshold to reject nodes
wse_dark_thresh = 0.8
width_dark_thresh = 0.2
width_smooth_size = None
wse_outlier_scale = 5.0
width_outlier_scale = 2.0
wse_char_length_tau = 100000.0
wse_prior_unc_alpha = 0.5
width_char_length_tau = 100000.0
width_prior_unc_alpha = 10.0
rho_wse_width = 0
use_pekel = False
crop = False


