[main]
flavor = smooth_width
stretch_stack_flavor = simple
# stretch_subset it a list of reaches
# if it is a partial reach_id it will run whole pfafstetter basin
stretch_subset = 78220000231
# created using multireaches_from_sword.py
stretch_file = na_sword_v16_multireach.csv
stretch_stack_in_path = outputs
pekel_in_path = /path/to/pekel/RiverSP-like/data 
out_path = outputs 
# cal_orbit, science_orbit, both_orbits
orbit = both_orbits
# pass_continent, e.g., 013_NA, ???_NA for all passes in NA
granule = ???_NA

[pekel]
width_smooth_size = 11
med_kernel_size = 11

