[main]
flavor = v1
# this one should be the flavor of the stretch_stack.cfg
stretch_stack_flavor = simple
# optionally define the flavor of the pekel.cfg
#pekel_flavor = simple
# stretch_subset it a list of reaches
# if it is a partial reach_id it will run whole pfafstetter basin
stretch_subset = 78220000231
# created using multireaches_from_sword.py
stretch_file = na_sword_v16_multireach.csv
# this one should be the same as out_path of the stretch_stack.cfg
stretch_stack_in_path = outputs
# optionally define the pekel_in_path
#pekel_in_path = /path/to/pekel/RiverSP-like/data
# output directory
out_path = outputs 
# cal_orbit, science_orbit, both_orbits
orbit = both_orbits
# pass_continent, e.g., 013_NA, ???_NA for all passes in NA
granule = ???_NA
#pekel_dir = /u/franz-r0/bawillia/working/flow_waves/PxC0/pekel/

[along_stats]
# dark_thresh between [0,1], is the threshold to reject nodes
wse_dark_thresh = 0.8
width_dark_thresh = 0.3
wse_outlier_scale = 5.0
width_outlier_scale = 2.0
width_smooth_size = None
wse_ref_kernel_size = 35
width_ref_kernel_size = None
crop = False

[stretch_average]
# dark_thresh between [0,1], is the threshold to reject nodes
wse_dark_thresh = 0.8
width_dark_thresh=0.2
wse_outlier_scale = 5.0
width_outlier_scale = 2.0
width_smooth_size = None
wse_char_length_tau = 100000.0
wse_prior_unc_alpha = 1.5
width_char_length_tau = 100000.0
width_prior_unc_alpha = 50.0
use_pekel = False
crop = False

[height_width]
#method = 'percentile'
sigma_n = 50.0
use_pekel = False

[reconstruct]
# dark_thresh between [0,1], is the threshold to reject nodes
wse_dark_thresh = 0.8
width_dark_thresh = 0.2
width_smooth_size = None
wse_outlier_scale = 5.0
width_outlier_scale = 2.0
wse_char_length_tau = None
wse_prior_unc_alpha = None
width_char_length_tau = None
width_prior_unc_alpha = None
rho_wse_width=0.7
use_pekel = False
crop = False

