[main]
flavor = test_v1
stretch_stack_flavor = simple
pekel_flavor = smooth_width
# stretch_subset it a list of reaches
# if it is a partial reach_id it will run whole pfafstetter basin
#stretch_subset = 78220000151
#stretch_subset = 78220000141 78220000151 78220000161 78220000171 78220000181
##stretch_subset = 78220000181
#stretch_subset = 78220000171 78220000181 78220000191
#stretch_subset = 78210000013 78210000134
#stretch_subset = 78210000173
#stretch_subset = 78210000244
#stretch_subset = 78210000291
#stretch_subset = 782
#stretch_subset = 7822
#stretch_subset = 73120000131
#stretch_subset = 731
#stretch_subset = 7312
stretch_subset = 78220000231
#stretch_subset = '78220000'
#sword_file = /u/swot-fn-r0/swot/sim_proc_inputs/river_database/20230802/v16/netcdf/na_sword_v16.nc
# created using multireaches_from_sword.py
stretch_file = /u/franz-r0/bawillia/working/flow_waves/PxC0/na_sword_v16_multireach.csv
#data_path = /u/franz-r1/swot/PxC0/RiverSP
stretch_stack_in_path = /u/franz-r0/bawillia/working/flow_waves/PxC0/outputs
pekel_in_path = /u/franz-r0/bawillia/working/flow_waves/PxC0/outputs
out_path = /u/franz-r0/bawillia/working/flow_waves/PxC0/outputs 
# cal_orbit, science_orbit, both_orbits
orbit = both_orbits
#orbit = science_orbit
#orbit = cal_orbit
# pass_continent, e.g., 013_NA, ???_NA for all passes in NA
granule = ???_NA
#pekel_dir = /u/franz-r0/bawillia/working/flow_waves/PxC0/pekel/

[along_stats]
# dark_thresh between [0,1], is the threshold to reject nodes
wse_dark_thresh = 0.8
width_dark_thresh = 0.3
wse_outlier_scale = 5.0
width_outlier_scale = 5.0
width_smooth_size = None
wse_ref_kernel_size = 35
width_ref_kernel_size = 11
crop = False

[stretch_average]
# dark_thresh between [0,1], is the threshold to reject nodes
wse_dark_thresh = 0.8
width_dark_thresh=0.2
wse_outlier_scale = 5.0
width_outlier_scale = 5.0
width_smooth_size = None
wse_char_length_tau = 100000.0
wse_prior_unc_alpha = 1.5
width_char_length_tau = 100000.0
width_prior_unc_alpha = 50.0
crop = False

[height_width]
#method = 'percentile'
sigma_n = 50.0

[reconstruct]
# dark_thresh between [0,1], is the threshold to reject nodes
wse_dark_thresh = 0.8
width_dark_thresh = 0.2
wse_outlier_scale = 5.0
width_outlier_scale = 5.0
wse_char_length_tau = None
wse_prior_unc_alpha = None
width_char_length_tau = None
width_prior_unc_alpha = None
rho_wse_width=0.7
crop = False

