[main]
# stretch_subset it a list of reaches
# if it is a partial reach_id it will run whole pfafstetter basin
#stretch_subset = 78220000231
stretch_subset = 78220000211
# sword input netCDF file
sword_file = SWORD/v17b/netcdf/na_sword_v17b.nc
# created using multireaches_from_sword.py
stretch_definition_file = na_sword_v17b_multireach.csv
# cal_orbit, science_orbit, both_orbits
orbit = both_orbits
# granule = pass_continent, e.g., 013_NA, ???_NA for all passes in NA
granule = ???_NA

# output directory
out_path = outputs
# out_path defined in main will propagate into the other [section]s
# unless it is set/overwritten in that section
#
# also if stretch_stack_in_path, and reach_average_in_path are
# not explicitly set in the estimate section, then the main out_path
# will also propagate to those

# also stretch_stack_flavor will be poulated with the [stretch_stack] 
# section flavor, unless explicitly overwritten


####
# some comments on methods that apply to both stretch_stack and reach_average
####
# method = podaac (use prev. downloaded RiverSP data, accumulate on the fly)
# method = ingest (use hydrochron to download data on the fly)
# method = offline (use offline processed data, accumulate on the fly)
# method = csv use already accumulated csv file
# method = reach (use previously downloaded data from podaac that has been stacked by reach)
#
# note that for method = ingest you will want to set the ingest_csv_file
# and for method = csv, you will want to set the 

[stretch_stack]
flavor = simple
# output directory
#out_path = outputs
# place to put the SWOT data csv
ingest_csv_file = swot_node_data.csv
method = ingest
#collection_name = SWOT_L2_HR_RiverSP_2.0
collection_name = SWOT_L2_HR_RiverSP_D
use_wse_sm = False
param_config = param.cfg

[reach_avg]
flavor = simple
# output directory
#out_path = outputs
# for ingest method
method = ingest
# place to put the SWOT data csv
ingest_csv_file = swot_reach_data.csv
#collection_name = SWOT_L2_HR_RiverSP_2.0
collection_name = SWOT_L2_HR_RiverSP_D
use_wse_sm = False
param_config = param.cfg

[pekel]
flavor = smooth_width
#stretch_stack_flavor = simple
# created using multireaches_from_sword.py
stretch_stack_in_path = outputs
pekel_in_path = /path/to/pekel/RiverSP-like/data 
#out_path = outputs 
param_config_file = param.cfg

[estimate]
flavor = v1
#stretch_stack_flavor = simple
pekel_flavor = simple
stretch_stack_in_path = outputs
reach_average_in_path = outputs
#pekel_in_path = /Users/bawillia/Desktop/data/flow_waves/PxCx/ingest
#out_path = outputs
param_config = param.cfg

[reconstruct]
flavor = v1
#stretch_stack_flavor = simple
pekel_flavor = simple
stretch_stack_in_path = outputs
#pekel_in_path = /Users/bawillia/Desktop/data/flow_waves/PxCx/ingest
out_path = outputs
param_config = /path/to/param_cfg


