[main]
i# stretch_subset it a space separated list of reaches/basins
# if it is a partial reach_id it will run whole pfafstetter basin
# csv file dataframes of reach_ids are also accepted
#stretch_subset = 78220000231
stretch_subset = 78220000211
#stretch_subset = 7822
# define space separated list of reach code types to run
# (i.e., last digit of reach_id/stretch_name)
valid_reach_code_types = 1
# sword input netCDF file
sword_file = SWORD/v17b/netcdf/na_sword_v17b.nc
# created using multireaches_from_sword.py
stretch_definition_file = na_sword_v17b_multireach.csv
# cal_orbit, science_orbit, both_orbits
orbit = both_orbits
# granule = pass_continent, e.g., 013_NA, ???_NA for all passes in NA
granule = ???_NA

# output directory
out_path = outputs
# out_path defined in main will propagate into the other [section]s
# unless it is set/overwritten in that section
#
# also if stretch_stack_in_path, and reach_average_in_path are
# not explicitly set in the estimate section, then the main out_path
# will also propagate to those

# also stretch_stack_flavor will be poulated with the [stretch_stack] 
# section flavor, unless explicitly overwritten


####
# some comments on methods that apply to both stretch_stack and reach_average
####
# method = podaac (use prev. downloaded RiverSP data, accumulate on the fly)
# method = ingest (use hydrochron to download data on the fly)
# method = offline (use offline processed data, accumulate on the fly)
# method = csv use already accumulated csv file
# method = reach (use previously downloaded data from podaac that has been stacked by reach)
#
# note that for method = ingest you will want to set the ingest_csv_file
# and for method = csv, you will want to set the 'data_path' key with the
# filename 
[stretch_stack]
# this section controls things for make_stretch_stack.py script
flavor = simple
# output directory
#out_path = outputs
####
# for csv method
####
#method = csv
## input SWOT dataframe (if using method=csv)
#data_path = swot_node_data_B774.csv
####
# for ingest method
####
# place to put the SWOT data csv
ingest_csv_file = swot_node_data.csv
method = ingest
#collection_name = SWOT_L2_HR_RiverSP_2.0
collection_name = SWOT_L2_HR_RiverSP_D
use_wse_sm = False
param_config = param_pre.cfg

[reach_avg]
# this section controls things for make_stretch_average_from_reaches.py script
flavor = simple
# output directory
#out_path = outputs
# for ingest method
method = ingest
# place to put the SWOT data csv
ingest_csv_file = swot_reach_data.csv
#collection_name = SWOT_L2_HR_RiverSP_2.0
collection_name = SWOT_L2_HR_RiverSP_D
use_wse_sm = False
param_config = param_pre.cfg

[pekel]
# this section controls things for pekel_width_stats.py script
flavor = smooth_width
#stretch_stack_flavor = simple
# created using multireaches_from_sword.py
stretch_stack_in_path = outputs
pekel_in_path = /path/to/pekel/RiverSP-like/data 
#out_path = outputs 
param_config_file = param_pre.cfg

[estimate]
# this section controls things for process_stretch_stack.py script
flavor = estimate_v1
stretch_stack_flavor = simple
#pekel_flavor = simple
#pekel_in_path = /path/to/pekel_width_stats.nc
stretch_stack_in_path = outputs
reach_average_in_path = outputs
#out_path = outputs
param_config = param_est.cfg

[reconstruct]
# this section controls things for reconstruct_stretch_stack.py script
flavor = bayes_v1
stretch_stack_flavor = simple
estimate_flavor = estimate_v1
stretch_stack_in_path = outputs
estimate_in_path = outputs
#pekel_flavor = simple
#pekel_in_path = /path/to/pekel_width_stats.nc
#out_path = outputs
param_config = param_bayes.cfg

